/* Style the Navbar to stay on top */
.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #34495e;
    color: white;
    padding: 10px 20px;
    z-index: 100;  /* Ensure it's above the sidebar */
  }
  
  .navbar-links {
    display: flex;
    justify-content: space-around;
  }
  
  .navbar-links li {
    list-style-type: none;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: white;
  }
  